.name{
    text-transform: uppercase;
    color: white;
    font-size: 4em;
    display: inline-block;
    margin-top: 40vh;
    border-bottom: 3px solid white;
}

.transparent {
    color: transparent;
}

.subName {
    color: white;
    font-size: 2em;
    margin-top: 15px;
}

.module {
    width: 100%;
    bottom: 0;
    top: 0;
    background-size: cover;
    height: 100vh;
}

.darken {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(SLC5.jpg);
}

.shortBio {
    font-size: 3em;
    text-decoration: underline;
}

.shortBioText {
    font-size: 1.15em;
    color: black;
}

.facebook {
    color: #3b5998;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.facebook:hover {
    padding-left: 20px;
    cursor: pointer;
    color: black;
}

.linkedIn {
    color: #4875B4;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.linkedIn:hover {
    padding-left: 20px;
    cursor: pointer;
    color: black;
}

.twitter {
    color: #33CCFF;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.twitter:hover {
    padding-left: 20px;
    cursor: pointer;
    color: black;
}

.github {
    color: #6e5494;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.github:hover {
    padding-left: 20px;
    cursor: pointer;
    color: black;
}