<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Alex Le Blanc - About Me</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="resume.css">
    <link rel="shortcut icon" href="favicon-32x32-copy.png">
</head>

<body>
    <header class="container-fluid">
        <div class="row">
            <!--       <a class="navbar-brand text-center" href="index.html"><img src="ADLlogoWhite.png" class="img-responsive logoImage"></a>-->

            <div class="col-xs-12 text-center module darken">


                <div class="myNavbar">
                    <nav class="navbar navbar-default">
                        <div>
                            <!--Brand and toggle get grouped for better mobile display -->


                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="../../index.html"><img src="ADLlogoWhite.png" onmouseover="this.src='ADLlogoMediumPurple.png';" onmouseout="this.src='ADLlogoWhite.png';" class="img-responsive logoImage"></a>
                            </div>


                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="../aboutMe/aboutMe.html">About Me</a></li>
                                    <li><a href="../resume/resume.html">R&eacute;sum&eacute;</a></li>
                                    <li><a href="../bookTracker/bookTracker.html">The Book Tracker</a></li>
                                    <li><a href="../contact/contact.html">Contact Me</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>

                <div class="my-title">
                    <h1 class="quote">"The future belongs to those who believe in the beauty of their dreams."</h1>
                    <h4 class="subName"><u>-Eleanor Roosevelt</u></h4>
                </div>
            </div>
        </div>
    </header>

    <main class="container">

        <h1 class="text-center underline"><u>I Got Skills.</u></h1>
        <div class="row">

        </div>

        <h1 class="text-center"><u>Check out  my previous experience (it's maybe, probably relevant, I promise):</u></h1>
        <div class="row">

        </div>
        <div class="row greyScale separator">
            <div class="col-xs-4">
                <a href="http://www.curo365.com"><img src="curo.jpg" class="img-responsive center-block CuroLogo"></a>
            </div>
            <div class="col-xs-8">
                <h3>Data Migration Lead</h3>
                <h5>(August 2021 - Present)</h5>
                <ul>
                    <li>First dedicated migration engineer for the Curo practice management product</li>
                    <li>Responsible for entire migration lifecycle, from initial data collection to final go-live migration</li>
                    <li>Developing new processes and workflows to automate and streamline data migrations</li>
                    <li>Hiring and training a migration team to scale with the product</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row greyScale separator">
            <div class="col-xs-4">
                <a href="http://www.filevine.com"><img src="filevine.jpg" class="img-responsive center-block FilevineLogo"></a>
            </div>
            <div class="col-xs-8">
                <h3>Data Migration Engineering Manager</h3>
                <h5>(December 2020 - August 2021)</h5>
                <ul>
                    <li>Oversaw a team of eight data migration engineers responsible for migrating customers into Filevine's database</li>
                    <li>Responsible for hiring, training, and supporting my team</li>
                    <li>Customer escalation resolution</li>
                </ul>
                <h3>Senior Data Migration Engineer </h3>
                <h5>(December 2019 - December 2020)</h5>
                <ul>
                    <li>Complex, enterprise client projects</li>
                    <li>Discovery and mapping of client legacy data, often from multiple sources that did not communicate</li>
                    <li>Transformating data (via complicated joins, subqueries, etc) into Filevine's standard import schema</li>
                    <li>Maintainence and upkeep of a library of stored procs designed to reduce repetitive workload</li>
                    <li>Project oversight and timeline management, responsible for delivery within time alloted by customer's sales agreement</li>
                </ul>
                <h3>Data Migration Engineering</h3>
                <h5>(July 2018 - November 2019)</h5>
                <ul>
                    <li>Initial discovery of client's legacy data</li>
                    <li>Mapping data from legacy to destination</li>
                    <li>SQL scripting of legacy databases into Filevine' import schema</li>
                </ul>
                <h3>Data Migration Project Manager</h3>
                <h5>(April 2018 - July 2018)</h5>
                <ul>
                    <li>Responsible for project kick-off and project scoping for sales department</li>
                    <li>Managing client databases and uploading them
                    <li>Monitoring timeline to ensure timely project delivery</li>
                </ul>
                <h3>Implementation Consultant</h3>
                <h5>(October 2017 - April 2018)</h5>
                <ul>
                    <li>Guiding SMB/MM law firms through their transition to Filevine</li>
                    <li>Manage entire on-boarding process to ensure a successful launch with each new firm</li>
                    <li>Provided customer support, resolved implementation roadblocks, oversaw firm-wide training and system setup</li>
                    <li>Responsible for 25-50 law firm implementations at any given time</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row greyScale separator">
            <div class="col-xs-4">
                <a href="http://www.backcountry.com"><img src="backcountryLogo.png" class="img-responsive center-block BCCompanyLogo"></a>
            </div>
            <div class="col-xs-8">
                <h3>Customer Account Manager </h3>
                <h5>(April 2016 - January 2017)</h5>
                <ul>
                    <li>Sales</li>
                    <li>Managed a client book of 2,000 customers and provided each with personalized service.</li>
                    <li>Performed 65 outbound calls a day split between existing and potential new customers.</li>
                </ul>
                <h3>Inbound Chat Gearhead</h3>
                <h5>(October 2015 - April 2016)</h5>
                <ul>
                    <li>Answered inbound chat inquiries from customers.</li>
                    <li>Provided customer support, resolved problems, answered questions.</li>
                    <li>Facilitated sales of outdoor gear.</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row greyScale separator">
            <div class="col-xs-4">
                <a href="http://www.momentumclimbing.com"><img src="momentumM.jpg" class="img-responsive center-block MCCompanyLogo"></a>
            </div>
            <div class="col-xs-8">
                <h3>Front Desk Employee</h3>
                <h5>(April 2015 - October 2015)</h5>
                <ul>
                    <li>Customer service: answered questions, phones, toured the gym to new customers.</li>
                    <li>Sales: sold memberships once customers had the chance to experience our service.</li>
                    <li>Monitored the floor for safety issues and taught lessons on belaying/climbing.</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row greyScale separator">
            <div class="col-xs-4">
                <a href="http://www.westminstercollege.edu"><img src="westminster.jpg" class="img-responsive center-block WCCompanyLogo"></a>
            </div>
            <div class="col-xs-8">
                <h3>Head Routesetter - Outdoor Recreation Dept</h3>
                <h5>(August 2014 - May 2016)</h5>
                <ul>
                    <li>Oversaw routesetting proceedures for Bishop Climbing Wall.</li>
                    <li>Set, graded, and maintained climbs currently at the wall. Wall maintenance.</li>
                    <li>Oversaw other setters and organized guest setters.</li>
                    <li>Helped plan and execute bi-annual climbing comps.</li>
                </ul>
                <h3>ICC Board Member and Club President</h3>
                <h5>(January 2015 - December 2015)</h5>
                <ul>
                    <li>Helped governed the Inner-Club Council as a board member.</li>
                    <li>President of Climbing Club and Ultimate Frisbee Club: 150 and 30 members respectively.</li>
                    <li>Managed a budget for two separate campus organizations.</li>
                    <li>Performed 65 outbound calls a day split between existing and potential new customers.</li>
                </ul>
            </div>
        </div>

    </main>

    <p></p>
</body>

</html>