<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Alex LeBlanc - About Me</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="bookTracker.css">
    <link rel="shortcut icon" href="favicon-32x32-copy.png">
</head>
<body>
  <header class="container-fluid">
        <div class="row">
            <!--       <a class="navbar-brand text-center" href="index.html"><img src="ADLlogoWhite.png" class="img-responsive logoImage"></a>-->

            <div class="col-xs-12 text-center module darken">


                <div class="myNavbar">
                    <nav class="navbar navbar-default">
                        <div>
                            <!--Brand and toggle get grouped for better mobile display -->


                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="../../index.html"><img src="ADLlogoWhite.png" onmouseover="this.src='ADLlogoBlue.png';" onmouseout="this.src='ADLlogoWhite.png';" class="img-responsive logoImage"></a>
                            </div>


                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="../aboutMe/aboutMe.html">About Me</a></li>
                                    <li><a href="../resume/resume.html">R&eacute;sum&eacute;</a></li>
                                    <li><a href="../bookTracker/bookTracker.html">The Book Tracker</a></li>
                                    <li><a href="../contact/contact.html">Contact Me</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>

                <div class="my-title">
                    <h1 class="quote">"Books are a uniquely portable magic."</h1>
                    <h4 class="subName"><u>-Steven King, On Writing</u></h4>
                </div>
            </div>
        </div>
    </header>  
    
    <h1>The what's what about this page:</h1>  
    <p>Some notes: Values from 2020 and before are my best guess at remembering when I read a book. I am not including repeats (such as "Harry Potter") or "kid's" books ("Twas the Night Before Christmas," which is arguably not a kid's book, but I digress). On the "Books" sheet you'll find a full list of books and the raw data that drives this dashboard. Lastly I'd like to note that I am not a graphic designer, so please don't judge the colors too harshly. Thanks!	</p>
    <div class="alexBookReport">
        <iframe class="responsive-iframe" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRrQkIk-v5OgpzA6QUee39izVSpo6cvajpHLcrDKDMWK9W_MHcKMtugQTK0VSiX_vTapSXTKG8krvSt/pubhtml?widget=true&amp;headers=false">
        </iframe>
    </div>
    <p></p>
</body>
</html>